@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@500&display=swap');
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary-color: hotpink;
}
/* General Styling */
body {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.4;
  font-size: 16px;
  background-color: rgb(13, 41, 83);
}

/* .main {
  height: 100vh;
} */

a {
  text-decoration: none;
}
ul li {
  list-style-type: none;
}

/* Specific Styles */
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
  background: #124;
}

.header-title {
  font-family: 'Great Vibes';
}

/* FORM Styles */
.movie-form > * {
  color: var(--primary-color);
}

#movie-input {
  background: #f1f5f9;
  color: #111;
  margin-left: 15px;
  font-weight: bolder;
  padding: 10px;
  border: none;
  border-radius: 5px;
}

#movie-input::placeholder {
  font-size: 16px;
  font-family: 'Open Sans';
}

.search-btn {
  padding: 10px;
  border: none;
  border-radius: 5px;
  outline: none;
  font-weight: bolder;
  background-color: var(--primary-color);
  color: #fff;
}
.main-nav .lists {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  row-gap: 20px;
}

.main-nav .lists .list-item {
  margin-left: 2rem;
  font-size: 1.2rem;
}

.link {
  color: var(--primary-color);
}

.main-nav .lists .list-item:hover {
  font-size: 18px;
  font-weight: bold;
}

.movies {
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
  display: grid;
  grid-template-rows: repeat(2, auto);
  align-items: center;
  justify-content: center;
}

.movies-center {
  display: grid;
  grid-template-columns: repeat(4, 2fr);
  /* row-gap: 20px; */
  align-items: center;
  justify-content: center;
  margin-bottom: 100px;
}

.movies-title {
  display: grid;
  place-items: center;
  text-align: center;
  font-family: 'Great Vibes';
  letter-spacing: 6px;
  font-size: 2rem;
  margin-top: 1rem;
  color: hotpink;
  font-weight: bolder;
}

.movie-title {
  text-align: center;
  margin-bottom: 10px;
  font-size: 18px;
  color: gold;
}
.movie-card {
  display: flex;
  flex-direction: column;
  place-items: center;
  justify-self: center;
  padding: 10px 40px;
  background: rgb(6, 26, 56);

  color: #fff;
  border-radius: 5px;
  /* width: fit-content;
  height: fit-content; */
  margin: 20px;
}

.img-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
#movie-image {
  width: 230px;
  height: 310px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.movie-ratings {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  place-items: center;
  row-gap: 5px;
  color: goldenrod;
  font-style: italic;
  font-weight: 700;
}
.movie-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 10px;
}
.movie-ratings.internet-movie-database {
  margin-top: 10px;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}
.main-footer .container {
  display: grid;
  place-items: center;
  background-color: #124;
  color: #fff !important;
  padding: 20px;
}

.fa.fa-heart {
  color: red;
}
