* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-align: center;
}

body {
  font-family: 'Roboto Light';
  line-height: 1.4;
}
.container {
  max-width: 1250;
  margin: auto 0;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
