@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;1,100;1,400&family=Roboto:ital,wght@0,100;0,300;1,100&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  line-height: 40px;
  font-family: 'Lato';
  background: pink;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 30vh);
}
.counter-title {
  font-size: 60px;
}

#counter {
  font-size: 4rem;
  margin-top: 4rem;
}

.btn {
  padding: 6px;
  border-radius: 12px;
  border: 3px solid #333;
  margin-top: 3rem;
  outline: 0;
}
