*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70vh;
  line-height: 1.5;
  font-family: 'Roboto';
}

.heading {
  background: #111;
  color: #fff;
  border-radius: 10px;
  padding: 10px;
  font-size: 2rem;
  margin-bottom: 20px;
  /* transform: rotate(10deg); */
}

.color {
  color: #fff;
  font-size: 2.5rem;
}

.btn {
  padding: 12px;
  color: #fff;
  background: #111;
  border-radius: 5px;
  outline: 0;
  font-size: 1.1rem;
  border: none;
}

/* .btn:hover {
  background: transparent;
  border: #111 3px solid;
  color: #111;
  transition: 0.4s ease-in-out;
} */
